 body {
 background-image: url("fundo-site.png");
}

.blackText{
    color: black;
    font-family: 'Roboto', arial;
}

.btn {
    color: black;
}

h1, h2, h3, h4, h5, h6{
<<<<<<< HEAD
    font-family: 'Roboto', arial;
    vertical-align: text-bottom;
    text-align: left;
    text-indent: 200px;
    
}
=======
    font-family: 'Roboto', sans-serif;
}

>>>>>>> 6b565e609da838cab14fa051925b1ded4657d565
